body {
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(0, 0, 0);
    color :rgb(255, 255, 255)
}
p {
    text-align: justify;
}

.roundedimage {
    border-radius : 10px
}
img {
    border-radius: 5%;
  }
.formatheader {
    font-size: larger;
    font-weight: bold;
}